*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body, .task-input, .content, .status, .task, label{
    display: flex;
}
body, .task-input, .content, .status, .task{
    align-items: center;
}
i, label, label input, .status span, button{
    cursor: pointer;
}
body{
    background-color: #5B85AA;
    justify-content: center;
    height: 100vh;
}
main{
    background-color: #FFF;
    width: 25rem;
    padding: 1rem;
    border-radius: .5rem;
}
.task-input{
    height: 3rem;
    padding: .5rem 0;
    gap: .5rem;
    position: relative;
}
.task-input input{
    width: 100%;
    height: 100%;
    padding: .4rem;
    padding-left: 2rem;
    font-size: 1rem;
    outline: none;
}
.task-input i{
    font-size: 1.2rem;
    opacity: 60%;
    position: absolute;
    top: 30%;
    left: 2%;
}
.content, .status, .task{
    justify-content: space-between;
}
.content, .task{
    border-bottom: .5px solid #CCC;
}
.content{
    padding-bottom: .5rem;
}
.status{
    width: 75%;
    padding-right: 1rem;
}
button{
    width: 25%;
    height: 2rem;
    background-color: #5B85AA;
    color: #FFF;
    border: none;
    border-radius: .2rem;
}
.task{
    padding: 1rem 0;
}
label{
    width: 100%;
}
label input{
    margin-right: 1rem;
}